---
title: hogehogeTitle
description: mogemoge
---
<!doctype html>
<html class="no-js" lang="ja">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width">
</head>
<body>

<h1>Hello assemble</h1>
<p>My name is {{ config.name }}.</p>
<p>I am {{ config.age }} years old.</p>
<p>{{ title }}</p>
<p>{{ description }}</p>

{{> products }}

</body>
</html>
